/* RESET CSS */

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	box-sizing: border-box;
}

/* GENERAL */

body {
	font-family: sans-serif;
}

h1 {
    font-size: 400%;
    padding: 20px;
    color: white;
}

.jumbo p {
    color: white;
    font-size: 130%;
}

h2 {
    font-size: 350%;
    padding: 20px;
}

p {
    font-size: 150%;
    padding: 20px;
    line-height: 120%;
}

h3 {
    font-size: 180%;
    padding: 20px;
    background-image: url(/img/stars.svg);
    background-size: contain;
}

ul {
    list-style-type: none;
}

li {
    font-size: 120%;
    line-height: 200%;
    color: white;
}

/* UTILITY */

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.d-flex {
    display: flex;
}

.img-box,
.text-box,
.logo-footer,
.text-footer,
.pink-rectangle {
    margin-top: 60px;
    margin-bottom: 60px;
}

#nopad {
    padding: 0px;
}

button {
    background-color: #5865f2;
    color: white;
    padding: 10px 25px;
    border-radius: 15px;
}

.white-button {
    background-color: white;
    color: black;
    padding: 10px 25px;
    border-radius: 15px;
}

.black-button {
    background-color: black;
    color: white;
    padding: 10px 25px;
    border-radius: 15px;
}

/* HEADER */

header {
    background-color: #2a5ee8;
}

.display-nav {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.display-header {
    background-image: url(/img/jumbo.png);
    background-size: cover;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.pink-rectangle{
    width: 900px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
}

.jumbo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
}

.navbar li {
    padding: 30px;
    font-size: 90%;
    font-weight: bold;
}

/* MAIN */

.display-home-white {
    background-color: white;
}

.display-home-grey {
    background-color: lightgrey;   
}

.img-box {
    width: 60%;
    height: 450px;
}

.img-box img {
    height: 100%;
}

.text-box {
    width: 40%;
    height: 450px;
}

.green-square {
    min-height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

/* FOOTER */

footer {
    background-color: black;
}

.logo-footer {
    width: calc((100% / 6) * 2);   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
}

.text-footer {
    width: calc(100% / 6);    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
}

.social-footer {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display-footer-after {
    border-top: 2px solid gray;
}

.list-top {
    color: #5865f2;
    font-weight: bold;
}

.it {
    display: flex;
    align-items: center; 
    font-size: 10px;   
}

.it img {
    height: 15px;
}

.logo-footer h2 {
    color: #5865f2;
}

.loghi-social i {
    margin-right: 20px;
    font-size: 130%;
}